#checkout {
  .mycontainer {
    padding: 20px 0 35px;
  }

  .home-btn {
    &:hover {
      color: $brand-orange;
      background-color: white;
    }
  }
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-start;
  .card-user {
    padding: 25px;
    background: url("/img/home/cattura.png") center center;
    border-radius: 20px;
    box-shadow: 0 10px 30px 5px rgb(0 0 0 / 10%);
  
    input {
      width: 100%;
      padding: 0 20px;
      font-size: 16px;
      line-height: 50px;
      border: #666;
      border-radius: 10px;
      color: #666;
      background: #fafafa;
      outline: none;
      margin: 0;
    }
    .name-surname {
      display: flex;
      margin-top: 30px;
      .user-name{
        width: 100%;
      } 
    }
    .email-telephone {
      display: flex;
      margin-top: 20px;
      .user-email{
        margin-right: 30px;
      } 
    }
    .user-address {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    textarea {
      width: 100%;
      padding: 5px 10px;
      border-radius: 10px;
    }
  }

  .checkout-cart {
    width: 35%;
    position: relative;
    padding: 0 0 10px;
    border-radius: 20px;
    overflow: hidden;

    .cart-top {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      padding: 15px;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $brand-orange;
    }

    .dish-price {
      display: inline-block;
      width: 20%;
      text-align: right;
    }
  }
  
}

// Braintree

