.login-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  #logo {
    a {
      color: black;
    }
  }
  .user-logout {
    display: flex;
    align-items: center;
  }
  .register {
    padding: 10px 50px;
    background-color: $brand-heavenly;
    border-radius: 5px;
    border: none;
    color: $brand-white;
    font-weight: 700;
    margin-left: 15px;
    a {
      color: $brand-white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .logout {
    padding: 10px 50px;
    background-color: $brand-orange;
    border-radius: 5px;
    border: none;
    color: $brand-white;
    font-weight: 700;
    a {
      color: $brand-white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.register-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  #logo {
    a {
      color: black;
    }
  }
  .login {
    padding: 10px 50px;
    background-color: $brand-orange;
    border-radius: 5px;
    border: none;
    color: $brand-white;
    font-weight: 700;
    a {
      color: $brand-white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .register {
    padding: 10px 50px;
    background-color: $brand-heavenly;
    border-radius: 5px;
    border: none;
    color: $brand-white;
    font-weight: 700;
    margin-left: 15px;
    a {
      color: $brand-white;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}